<div style="margin-top: 10%" layout="column">
  <md-content>
    <form name="loginForm" flex="50" flex-offset="25">
      <h1 layout="row" layout-align="center center">Sign In</h1>
      <md-input-container class="md-block">
        <label>Email</label>
        <input required type="email" name="email"
               ng-model="vm.credentials.email" ng-pattern="/^.+@.+\..+$/"/>
        <div ng-messages="loginForm.email.$error" role="alert" ng-show="loginForm.email.$touched" >
          <div ng-message-exp="['required', 'pattern']">Your email must be look
            like an e-mail address
          </div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <label>Password</label>
        <input required type="password" name="password"
               ng-model="vm.credentials.password"
               minlength="8" maxlength="30"/>
        <div ng-messages="loginForm.password.$error" role="alert">
          <div ng-message-exp="['required', 'minlength', 'maxlength']">
            Your password must be between 8 and 30 characters long
          </div>
        </div>
      </md-input-container>
      <div layout="row">
        <div flex="40" layout="row" layout-align="start center">
          <md-checkbox ng-model="vm.isKeepLoggedIn" aria-label="">
            Keep me logged in
            <br>
            <div class="form-line-forgot-password">
              <a href="/auth/forgot">
                <span class="md-caption">Forget password?</span>
              </a>
            </div>
          </md-checkbox>
        </div>
        <div class="black-button" flex="60" layout="row"
             layout-align="end center">
          <md-button type="submit" class="login-button"
                     ng-click="vm.login(vm.credentials)"
                     ng-disabled="loginForm.$invalid">
            Sign in
          </md-button>
        </div>
      </div>
    </form>
  </md-content>
</div>



