<header>
  <md-toolbar class="main-nav l-pinned-top l-layer-5">
    <nav>
      <h1>
        <a class="md-button" href="/">
        </a>
      </h1>

      <ul>
        <li class="l-right">
          <a class="main-nav-button md-button" ui-sref="auth.login">
            <span class="ng-scope">LOGIN</span>
          </a>
        </li>
        <li class="l-right">
          <a class="main-nav-button md-button" ui-sref="auth.register">
            <span class="ng-scope">REGISTER</span>
          </a>
        </li>
      </ul>
    </nav>
  </md-toolbar>
</header>
